body {
    background: grey;
    color: darkgrey;
}

h3 {
    color: black;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.container {
    height: 100vh;
    width: 100wh;
    display: grid;
    grid-template-rows: 200px 1fr 50px;
    grid-template-columns: 12% 22% 22% 22% 22%;
    grid-template-areas:
        "header header header header header"
        "sidebar content content content content"
        "footer footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #ffaabb;
    text-align: center;
    margin: 10px;

}
.container {
    height: 100vh;
    width: 100wh;
    display: grid;
    grid-template-rows: 200px 1fr 50px;
    grid-template-columns: 12% 22% 22% 22% 22%;
    grid-template-areas:
        "header header header header header"
        "sidebar content content content content"
        "footer footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #ffaabb;
    text-align: center;
    margin: 10px;

}
